<!DOCTYPE html>
<html>
<head>
<title>Cadastro de Salas</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<link th:href="@{/styles/cssandjs/styles.css}" rel="stylesheet" />
</head>
<body>
	
    <div th:insert="fragments/components :: menu"></div>
    <br/>
    
	<div>
		<form action="#" th:action="@{/sala/add}"
			th:object="${salaDTO}" method="post">
			<label for="nome">Nome</label> 
			<input type="text" th:field="*{nome}" id="nome" placeholder="Nome"> 
			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span> 
			
			<label for="tipo">Tipo</label> 
			<select name="tipo">
			    <option th:each="tipo : ${T(com.prox.reservas.enums.TipoSala).values()}" 
			        th:value="${tipo}" th:text="${tipo}"></option>
			</select>
			
			<label for="lotacao">Lotação</label> 
			<input type="text" th:field="*{lotacao}" id="lotacao" placeholder="lotacao">
			<span th:if="${#fields.hasErrors('lotacao')}" th:errors="*{lotacao}"></span> 
			<input type="submit" value="Incluir">
		</form>
		<form action="#" th:action="@{/sala}">
			Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
		    <input type="submit" value="Search" />
		</form>
	</div>
	
	<div th:switch="${salas}">
    <h2 th:case="null">Sem salas ainda!</h2>
    
    	
    
    
        <div th:case="*">
            <h2>Salas</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Lotação</th>
                        <th>Gerenciar</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
	                <tr th:each="sala : ${salas}">
	                    <td th:text="${sala.nome}"></td>
	                    <td th:text="${sala.tipo}"></td>
	                    <td th:text="${sala.lotacao}"></td>
	                    <td><a th:href="@{/sala/manage/{id}(id=${sala.id})}" class="btn btn-info">
	                    	<i class="fas fa-wrench"></i></a>
	                    </td>
	                    <td><a th:href="@{/sala/edit/{id}(id=${sala.id})}" class="btn btn-success">
	                    	<i class="fas fa-user-edit ml-0"></i></a></td>
	                    <td><a th:href="@{/sala/delete/{id}(id=${sala.id})}" class="btn btn-danger">
							<i class="fas fa-user-times ml-0"></i></a></td>
	                </tr>
	            </tbody>
        	</table>
    	</div>    
	</div>
	
</body>
</html>

