<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
	<title>Controle de Sala</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link th:href="@{/styles/cssandjs/styles.css}" rel="stylesheet" />
</head>
<body>
    <div th:insert="fragments/components :: menu"></div>
    <br/>
    <div th:switch="${salas}">
    <h2 th:case="null">Bem vindo ao gerenciador de sala!</h2>
</div>
</body>
</html>