<!DOCTYPE html>
<html>
<head>
<title>Gerenciar Sala</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<link th:href="@{/styles/cssandjs/styles.css}" rel="stylesheet" />
</head>
<body>

    <div th:insert="fragments/components :: menu"></div>
    <br/>
	
	<div>
		<form action="#" th:action="@{/sala/update/{id}(id=${sala.id})}" 
			th:object="${sala}" method="post">
			<label for="nome">Nome</label> 
			<input disabled type="text" th:field="*{nome}" id="nome" placeholder="Nome"> 
			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span> 
			
			<label for="tipo">Tipo</label> 
			<select disabled name="tipo">
			    <option th:each="tipo : ${T(com.prox.reservas.enums.TipoSala).values()}" 
			        th:value="${tipo}" th:text="${tipo}"></option>
			</select>
			
			<label for="lotacao">Lotação</label> 
			<input disabled type="text" th:field="*{lotacao}" id="lotacao" placeholder="lotacao">
			<span th:if="${#fields.hasErrors('lotacao')}" th:errors="*{locatacao}"></span>
		</form>
	</div>
	
	<br />
	<br />
	
	<div th:switch="${persons}">
    	<h2 th:case="null">Sem pessoas ainda!</h2>
        <div th:case="*">
            <h2>Pessoas da Sala</h2>
            <br /><br />
            <table th:if="${not #lists.isEmpty(persons)}" class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Esta na sala...</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
	                <tr th:each="person : ${persons}">
	        	        <span th:if="${person.estaNaSala(sala.id)}">
		                    <td th:text="${person.nome}"></td>
		                    <td th:text="${person.sobrenome}"></td>
		                    <td th:if="${person.estaNaSala(sala.id)}"><span th:text="${person.sala.nome}"></span></td>
		                    <td th:if="${person.estaNaSala(sala.id)}">
			                    <form method="POST" th:action="@{/sala/manage/{acao}/{salaId}/pessoa/{pessoaId}(acao='R',salaId=${sala.id}, pessoaId=${person.id})}">
						            <button type="submit" name="submit" value="value" class="btn btn-danger"><i class="fas fa-user-minus"></i></button>
						        </form>
						    </td>
						</span>
	                </tr>
	            </tbody>
        	</table>
    	</div>    
	</div>	
	
	<div th:switch="${persons}">
    	<h2 th:case="null"></h2>
        <div th:case="*">
            <h2>Pessoas Disponiveis</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Esta na sala...</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
	                <tr th:each="person : ${persons}">
	                <span th:if="${!person.estaNaSala(sala.id)}">
	                    <td th:text="${person.nome}"></td>
	                    <td th:text="${person.sobrenome}"></td>
	                    <td>
	                    	<span th:if="${person.sala != null}" th:text="${person.sala.nome}">
	                    	</span>
	                    </td>
	                    <td th:if="${!person.estaNaSala(sala.id)}">
		                    <form method="POST" th:action="@{/sala/manage/{acao}/{salaId}/pessoa/{pessoaId}(acao='I',salaId=${sala.id}, pessoaId=${person.id})}">
					            <button type="submit" name="submit" value="value" class="btn btn-success"><i class="fas fa-user-plus"></i></button>
					        </form>
					    </td>
	                </span>
	                </tr>
	            </tbody>
        	</table>
    	</div>    
	</div>	
</div>
</body>
</html>

